
#yo
{
    color: black;
    font-family:monaco;
    text-align:monopasce;
    font-size: 15px;
    background-color: lightsteelblue;
}

#titre
{
    display: flex;

}

#contour
{
    border-color: white;
}

#d
{
    margin-left: 30px;
}

#sous
{
    font-size: 18px;
    color: dimgrey;
}
#sousous
{
    color: black;
}

#nom
{
    color: whitesmoke;

}

#recherche
{
    color: dimgrey;
    text-align:center;
}

#descriptif
{
    
    border-color:white;
    display: inline-block;
    width:60%;
    align-content: right;
    padding-right: 30px;
    
}

#skills
{
    border-color: white;
    display: inline-block;
    width: 30%;
    align-content: left;
    border-left: 1px solid white;
    padding-left: 30px;
}

#h2
{
    color: whitesmoke;
}

.sticker {
width: 180px;
height: 180px;
}

.example-1 .sticker-img {
background-image: url(laura.jpeg);
}

// add color
.example-2 .sticker-img {
background-color: #ff4a85;
}

// change shadow opacity
.example-2 .sticker-shadow {
opacity: 0.6;
}

