
#yo
{
    color: black;
    font-family:monaco;
    text-align:monopasce;
    font-size: 15px;
}

#titre
{
    display: flex;

}

#d
{
    margin-left: 30px;
}

#sous
{
    font-size: 18px;
    color: dimgrey;
}
#sousous
{
    color: black;
}

#nom
{
    color: darkgreen;

}

#recherche
{
    color: darkslategray;
    text-align:center;
}

#descriptif
{
    
    border-color:darkslategray;
    display: inline-block;
    width:60%;
    align-content: right;
    padding-right: 30px;
    
}

#skills
{
    border-color: darkslategray;
    display: inline-block;
    width: 30%;
    align-content: left;
    border-left: 1px solid darkslategray;
    padding-left: 30px;
}

#h2
{
    color: darkgreen;
}

#contact
{
    margin-left: 300px;
    margin-right: 300px;
    border-color: darkslategray;
}

#b
{
    margin-left:13px;
}

#bouton
{
    margin-left: 230px;
}
